<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <appSettings>
        <add key="mqtt_hostname" value="" />
        <add key="mqtt_port" value="" />
        <add key="mqtt_username" value="" />
        <add key="mqtt_password" value="" />
        <add key="mqtt_clientId" value="HomeAssistantHub" />
        <add key="mqtt_subscribe_set" value="HW/sw/+/set" />
        <add key="mqtt_publish_state" value="HW/sw/+/state" />
        <add key="mqtt_subscribe_dim" value="HW/sw/+/dim" />
        <add key="mqtt_publish_dim" value="HW/sw/+/dim/state" />
        <add key="mqtt_subscribe_temp" value="HW/temp/set" />
        <add key="mqtt_publish_temp" value="HW/temp/state" />
        <add key="mqtt_room_temp" value="HW/temp/room" />
        <add key="mqtt_subscribe_shade" value="soma/shade/+/set" />
        <add key="mqtt_publish_shade" value="soma/shade/+/state" />
        <add key="mqtt_shade_battery" value="soma/shade/+/battery" />
        <add key="hw_hostname" value="" />
        <add key="hw_password" value="" />
        <add key="timer_interval" value="5" />
        <add key="dsmr_remote_ip" value="" />
        <add key="dsmr_remote_port" value="" />
        <add key="dsmr_local_port" value="" />
        <add key="dsmr_interval" value="5" />
        <add key="soma_shades" value="rise201" />
    </appSettings>
</configuration>